:root{
    --default-text: 'visby-medium';
}

body{
    background: #062925;
    background-attachment: fixed;
    font-family: var(--default-text);
}

@font-face {
    font-family: 'visby-medium';
    src: url(../font/VisbyCF-Medium.woff2) format('truetype');
    font-style: normal;
    font-weight: normal;
}

.title{
    color: #94f870;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    color: #94f870;
}

.navbar-toggler-icon{
    color: #94f870;
}

.navbar .btn{
    color: #00A1AB;
    border: solid 1px #94f870;
    background: #062925;
}

.logo{
    width: 50px;
    height: 50px;
    background-image: url(./img/kal\ logo.png);
}

.jumbotron{
    background: #062925;
}

.jumbotron h1{
    color: #94f870;
}

.jumbotron h2{
    color: #00A1AB;
}

.jumbotron p{
    color: white;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.progress-container{
    display: flex;
    flex-direction: column;
}
