:root{
    --default-text: 'visby-medium';
}

body{
    background: #062925;
    background-attachment: fixed;
    font-family: var(--default-text);
}

@font-face {
    font-family: 'visby-medium';
    src: url(../font/VisbyCF-Medium.woff2) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

#btn-top{
  font-size: 60px;
  color: var(--secondary-color);
  padding: 15px;
  font-weight: 400;
  width: 3vw;
  height: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: translateY(0%);
  z-index: 1;
  transition: all 0.5s;
}

#btn-top.show{
  transform: translateY(0);
}

#btn-top.scrollFinal{
  transform: translateY(-250%);
}

#btn-top i{
  color: #94f870;
  font-size: 25px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  text-shadow: 3px 3px 3px var(--shadow-color);
  transition: all 0.5s;
}

#btn-top:hover{
  transition: all 0.5s;
}

#btn-top:hover span{
  transform: translateY(-3px);
}

@media screen and (max-width: 576px) {
  #btn-top span{
      font-size: 3vw;
  } 
}

.animated-title {
  color: #00A1AB;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 10vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #94f870;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.title{
    color: #94f870;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    color: #94f870;
    font-size: 6vmin;
}

.navbar a,
.projects,
.about,
.contact{

  margin: 10px;
}

.navbar-toggler-icon{
    color: #94f870;
}

.navbar .btn{
    color: #00A1AB;
    border: solid 1px #94f870;
    background: #062925;
    margin-left: 30px;
}

.logo{
    width: 85px;
    height: 85px;
    background-image: url(./img/kal\ logo.png);
    margin: 25px 0 0 25px;
    position: fixed;
    z-index: 99;
    cursor: pointer;
}


.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.progress-container{
    width: 40rem;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.progress{
    height: 3rem;
    width: 25rem;
    margin: 20px;
    display: flex;
    align-items: center;
}

.progress-bar{
    height: 100%;
}

.html,
.css,
.javascript,
.bootstrap{
    font-size: 40px;
    padding-right: 25px;
}

.github,
.linkedin{
    font-size: 50px;
}
